/* app css stylesheet */

#content {
  padding: 60px 20px 20px 20px;
}

/* Bootstrap why-did-you-put-the-navbar-to-static-on-phones fix */
@media screen and (max-width: 768px) {
  .navbar-fixed-top {
    position: fixed;
  }
}

input.h1 {
  font-size: 3em;
  font-weight: bold;
  height: 1.5em;
}

.card-table {
  position: relative;
}

.card {
  margin: 10px;
  width: 200px;
  height: 200px;
  display: inline-block;
  top: 0;
  left: 0;
  border: thin solid #333;
}

.edit-controls {
  margin-top: 15px;
  margin-bottom: 15px;
}